a {
  font-style: italic;
  font-size: 30pt;
  color: #707070;
  text-decoration: none;
}


.links {
  text-align: center;
  bottom: 26%;
  font-size: 35pt;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: none;
  transition: text-shadow 1s;
}

.links:hover {
  text-shadow:
    5px 5px #65B2FF,
    6px 6px #65B2FF,
    7px 7px #65B2FF;
}

.centre{
    border-spacing: 25px 0em;
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
}
