<body>
<table class="centre">
      <tr>
        <div class="links">
          <a>Web Store</a>
        </div>
      </tr>
      <tr>
        <div class="links">
          <a href="https://www.depop.com/theblankhand/">Depop</a>
        </div>
      </tr>
      <tr>
        <div class="links">
          <a href="https://www.instagram.com/theblankhand/">Instagram</a>
        </div>
      </tr>
      <tr>
        <div class="links">
          <a href="https://soundcloud.com/theblankhand">Soundcloud</a>
        </div>
      </tr>
  </table>
</body>
