<body>
  <table class="centre">
    <tr>
        <div class="shop">
          <a href="https://shop.theblankhand.co.uk">Shop</a>
        </div>
      </tr>
      <tr>
        <div class="instagram">
          <a href="https://www.instagram.com/theblankhand/">Instagram</a>
        </div>
      </tr>
      <tr>
        <div class="videos">
          <a href="https://soundcloud.com/user-908319862">Soundcloud</a>
        </div>
      </tr>
      <tr>
        <div class="instagram">
          <a href="https://www.depop.com/theblankhand/">Depop</a>
        </div>
      </tr>
  </table>
</body>
