<body>
  <div class = "parent">
  <div class ="list"><table class="centre">
      <tr>
        <div class="links">
          <a href="https://www.depop.com/theblankhand/">Web Store</a>
        </div>
      </tr>
      <tr>
        <div class="links">
          <a href="https://www.depop.com/theblankhand/">Depop</a>
        </div>
      </tr>
      <tr>
        <div class="links">
          <a href="https://www.instagram.com/theblankhand/">Instagram</a>
        </div>
      </tr>
      <tr>
        <div class="links">
          <a href="https://soundcloud.com/theblankhand">Soundcloud</a>
        </div>
      </tr>
  </table>
  </div>
  <div class = "image"><img class="homepage" src="../../assets/homepage.png"></div>
  </div>
</body>
