a {
  font-style: italic;
  font-size: 30pt;
  color: #707070;
  text-decoration: none;
}


.links {
  text-align: left;
  text-transform: uppercase;
  /* line-height: 100px; */
  letter-spacing: 3px;
  text-shadow: none;
  transition: text-shadow 1s;
}

.links:hover {
  text-shadow:
    5px 5px #65B2FF,
    6px 6px #65B2FF,
    7px 7px #65B2FF;
}

.homepage{
  width: 95%;
  height: auto;
}

.parent{
  display: inline-flex;
  height: 100%
}

.image{
  margin-left: 30px;
}
